.jumbotron
{
    background-image: url('../static/images/lake-greyscale.jpg');
    color:white;
    background-attachment:fixed;
    min-height:800px;
    margin-top:0px
    margin-bottom:0px;
}